h1{
    color: blue;
}

.action {
    color: rgb(30, 34, 34);
    height: 35px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: rgb(144, 238, 3);
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}